.u-SectionHeight{
	height: 600px;
}
/*Componente Menu principal*/
.MenuPrincipal{
	background-color: rgba(255,255,255,0);/*Color naranja  #FF9712*/
	left: 0;
	padding: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 91;
}
.MenuPrincipalScroll{/*se agrega cuando se hace scroll a la pagina*/
	background-color: rgba(255,243,224,.7);/*Color naranja  #FF9712*/
	/*left: 0;
	padding: 0;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 91;*/
}
	/*.MenuPrincipal:hover{
		background: rgba(249,241,235,1);
	}*/
.MenuPrincipal-imageContainer,.MenuPrincipal-lista{
	display: inline-block;
	vertical-align: bottom;
}
.MenuPrincipal-imageContainer{
	left: 2em;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 180px;
}
.MenuPrincipal-logo{
	width: 100%;
}
.MenuPrincipal-lista{
	margin: 0;
	padding: 1.1em 0 0 0;
}
.MenuPrincipal-item{
	display: inline-block;
}
	.MenuPrincipal-item:hover{
		background: orange;
		border-top-left-radius: 1.3em;
		border-top-right-radius: 1.3em;
		font-weight: bold;
	}
.MenuPrincipal-enlace{
	color: orange;
	font-weight: bold;
	line-height: 3.75em;
	margin: 0 0 0 0;
	padding: 1em;
	text-decoration: none;
}
	.MenuPrincipal-enlace:hover{
		color: white;
	}
.MenuPrincipal-linea{
	background: orange;
	height: .3em;
	vertical-align: bottom;
}
/*Componente Header*/
.Header{
	background: #12ADFF;
	border-bottom-right-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	color: white;
	margin: 0 auto .3em auto;
	max-width: 75em;
	position: relative;
	padding-top: 3.75em;
	display: none;
}
.Header-imageContainer,.Header-titulo{
	display: inline-block;
	vertical-align: middle;
	width: 23%;
}
.Header-logo{
	width: 100%;
}
.Header-titulo{
	font-size: 1.8em;
	width: 60%;
}
.Header-enlace{
	background: #0075B2;
	border: 0.2em solid white;
	border-top-right-radius: 1.5em;
	border-bottom-left-radius: 1em;
	bottom: 0;
	color: white;
	margin: 0 1em 2.8em 1.5em;
	padding: 1em;
	position: absolute;
	right: 0;
	text-decoration: none;
}
/*Componente Contenedor*/
.Contenedor{
	background: white;
}
/*Componente Baner*/
.Baner{
	background: #EEF3EE;
}
/*Componente QuienesSomos*/
.QuienesSomos{
	/*background: green;*/
	padding: 6em 0;
}
.QuienesSomos-imageLogoContainer,
.QuienesSomos-Container,
.QuienesSomos-imageMapaContainer{
	display: inline-block;
}
.QuienesSomos-imageLogoContainer{
	/*background: black;*/
	display: none;
	width: 25%;
}
.QuienesSomos-logo{
	width: 100%;
}
.QuienesSomos-Container{
	/*background: red;*/
	width: 40%;
}
.QuienesSomos-titulo{
	margin-top: 0;
	font-size: 2em;
	text-align: center;
}
.QuienesSomos-descripcion{

}
.QuienesSomos-imageMapaContainer{
	/*background: blue;*/
	width: 20%;
	position: relative;
	text-align: center;
	top: 2.6em;
}
/*Componente Producto*/
.Producto{
	background: #EEF3EE;
	padding: 3.75em 0;
}
.Producto-titulo{
	text-align: center;
	font-size: 2em;
}
.Producto-item{
	/*background: yellow;*/
	display: inline-block;
	margin: 1em;
	width: 30%;
}
.Producto-imagenProductoContainer{
	text-align: center;
}
.Producto-imageProducto{
	border-radius: 50%;
}
.Producto-imageProductoDescripcion{
	text-align: center;
}
/*Componente quienes confian en nosotros QCEN*/
.QCEN{
	padding: 3.75em 0;
	display: none;
}
.QCEN-titulo{
	font-size: 2em;
	text-align: center;
}
.QCEN-articulo{
	
}
.QCEN-imageArticuloContainer,
.QCEN-articuloContainer{
	display: inline-block;
	vertical-align: top;
}
.QCEN-articuloContainer{
	/*background: green;*/
	padding: 0 1em;
	width: 40%;
}
.QCEN-articuloTitulo{
	font-size: 1.8em;
	margin-top: 0;
}
.QCEN-articuloDescripcion{
	text-align: justify;
}
.QCEN-imageArticuloContainer{
	margin: 0;
	padding: 0;
	width: 55%;
}
.QCEN-imageArticulo{
	border-radius: 3em;
	margin: 0;
	padding: 0;
	width: 100%;
}
.QCEN-enlaceContainer{
	text-align: right;
}
.QCEN-enlace{
	background: orange;
    border: none;
    border-radius: 0.8em;
    color: white;
	padding: 1em;
	position: relative;
	margin: 2em 2em 0 2em;
	text-align: right;
	text-decoration: none;
	top: 1.7em;
}
/*Componente Encuentranos*/
.Encuentranos{
	background: #EEF3EE;
	padding: 3.75em 0;
}
.Encuentranos-imagenMapaContainer,
.Encuentrenos-container{
	display: inline-block;
	vertical-align: top;
}
.Encuentranos-imagenMapaContainer{
	/*background: red;*/
	margin: 0 0 0 1em;
	width: 50%;
}
.Encuentranos-imageMapa{
	min-height: 25em;
	width: 100%;
}
.Encuentranos-imageDescripcion{
	text-align: center;
}
.Encuentrenos-container{
	/*background: yellow;*/
	margin: 0 1em;
	width: 45%;
}
.Encuentrenos-titulo{
	text-align: center;
	font-size: 2em;
}
.Encuentrenos-containerTitulo{
	font-size: 1.8em;
}
.Encuentrenos-descripcion{
	text-align: justify;
}
/*Componente Contactenos*/
.Contactenos{
	background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 3.75em 0;
    text-align: center;
}
.Contactenos-Container{
	width: 45%;
    display:  inline-block;
    vertical-align: top;
}
.Contactenos-titulo{
	font-size: 2em;
	text-align: center;
}
.Contactenos-descripcion{

}
.Contactenos-form{
	padding: 2em;
    width: 45%;
    display:  inline-block;
    vertical-align: top;
}
.Contactenos-input,
.Contactenos-textarea{
	background: white;
    border: none;
    display: block;
    border-radius: 2em;
    padding: .8em;
    outline: 0;
    margin: 0 auto .8em;
    width: 100%;
}
.Contactenos-input{

}
.Contactenos-textarea{
	min-height: 12.5em;
}
.Contactenos-button{
	background: orange;
    border: none;
    color: white;
    padding: .5em;
    border-radius: 1.5em;
}