/*Componente Menu principal*/
.MenuPrincipal{
	background: #FF9712;/*Color naranja*/
	left: 0;
	min-height: : 3.75em;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 91;
	
}
.MenuPrincipal-lista{
	margin: 0;
	padding: 0;
}
.MenuPrincipal-item{
	display: inline-block;
}
.MenuPrincipal-enlace{
	color: white;
	line-height: 3.75em;
	margin: 0 1.75em 0 0;
	text-decoration: none;
}
/*Componente Header*/
.Header{
	background: #12ADFF;
	border-bottom-right-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	color: white;
	margin: 3.75em auto .3em auto;
	max-width: 75em;
	position: relative;
}
.Header-imageContainer,.Header-titulo{
	display: inline-block;
	vertical-align: middle;
	width: 23%;
}
.Header-logo{
	width: 100%;
}
.Header-titulo{
	font-size: 1.8em;
	width: 60%;
}
.Header-enlace{
	background: #0075B2;
	border: 0.2em solid white;
	border-top-right-radius: 1.5em;
	border-bottom-left-radius: 1em;
	bottom: 0;
	color: white;
	margin: 0 1em 2.8em 1.5em;
	padding: 1em;
	position: absolute;
	right: 0;
	text-decoration: none;
}
/*Componente Contenedor*/
.Contenedor{
	background: white;
	/*border-top-left-radius: 1.5em;*/
	/*border-top-right-radius: 1.5em;*/
	max-width: 75em;
	margin: 0 auto;
	overflow: hidden;
}
/*Componente Baner*/
.Baner{
	/*background: yellow;*/
}
/*Componente QuienesSomos*/
.QuienesSomos{
	/*background: green;*/
	padding: 6em 0;
}
.QuienesSomos-imageLogoContainer,
.QuienesSomos-Container,
.QuienesSomos-imageMapaContainer{
	display: inline-block;
}
.QuienesSomos-imageLogoContainer{
	/*background: black;*/
	width: 25%;
}
.QuienesSomos-logo{
	width: 100%;
}
.QuienesSomos-Container{
	/*background: red;*/
	width: 40%;
}
.QuienesSomos-titulo{
	margin-top: 0;
	font-size: 2em;
	text-align: center;
}
.QuienesSomos-descripcion{

}
.QuienesSomos-imageMapaContainer{
	/*background: blue;*/
	width: 20%;
	position: relative;
	text-align: center;
	top: 2.6em;
}
/*Componente Producto*/
.Producto{
	background: #EEF3EE;
	padding-top: 3.75em;
}
.Producto-titulo{
	text-align: center;
	font-size: 2em;
}
.Producto-item{
	/*background: yellow;*/
	display: inline-block;
	margin: 1em;
	width: 30%;
}
.Producto-imagenProductoContainer{
	text-align: center;
}
.Producto-imageProducto{
	border-radius: 50%;
}
.Producto-imageProductoDescripcion{
	text-align: center;
}
/*Componente quienes confian en nosotros QCEN*/
.QCEN{
	padding-top: 3.75em;
}
.QCEN-titulo{
	font-size: 2em;
	text-align: center;
}
.QCEN-articulo{
	
}
.QCEN-imageArticuloContainer,
.QCEN-articuloContainer{
	display: inline-block;
	vertical-align: top;
}
.QCEN-articuloContainer{
	/*background: green;*/
	padding: 0 1em;
	width: 40%;
}
.QCEN-articuloTitulo{
	font-size: 1.8em;
	margin-top: 0;
}
.QCEN-articuloDescripcion{
	text-align: justify;
}
.QCEN-imageArticuloContainer{
	margin: 0;
	padding: 0;
	width: 55%;
}
.QCEN-imageArticulo{
	margin: 0;
	padding: 0;
	width: 100%;
}
.QCEN-enlace{
	display: block;
	margin: 2em 2em 0 2em;
	text-align: right;
}
/*Componente Encuentranos*/
.Encuentranos{
	/*background: green;*/
	padding-top: 3.75em;
}
.Encuentranos-imagenMapaContainer,
.Encuentrenos-container{
	display: inline-block;
	vertical-align: top;
}
.Encuentranos-imagenMapaContainer{
	/*background: red;*/
	margin: 0;
	width: 50%;
}
.Encuentranos-imageMapa{
	min-height: 25em;
	width: 100%;
}
.Encuentranos-imageDescripcion{
	text-align: center;
}
.Encuentrenos-container{
	/*background: yellow;*/
	margin: 0 1em;
	width: 45%;
}
.Encuentrenos-titulo{
	text-align: center;
	font-size: 2em;
}
.Encuentrenos-containerTitulo{
	font-size: 1.8em;
}
.Encuentrenos-descripcion{
	text-align: justify;
}
/*Componente Contactenos*/
.Contactenos{
	background-image: url('../img/footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding: 2em 0;
}
.Contactenos-Container{
	width: 45%;
    display:  inline-block;
    vertical-align: top;
}
.Contactenos-titulo{
	font-size: 2em;
	text-align: center;
}
.Contactenos-descripcion{

}
.Contactenos-form{
	padding: 2em;
    width: 45%;
    display:  inline-block;
    vertical-align: top;
}
.Contactenos-input,
.Contactenos-textarea{
	background: white;
    border: none;
    display: block;
    border-radius: 2em;
    padding: .8em;
    outline: 0;
    margin: 0 auto .8em;
    width: 100%;
}
.Contactenos-input{

}
.Contactenos-textarea{

}
.Contactenos-button{
	background: orange;
    border: none;
    color: white;
    padding: .5em;
    border-radius: 1.5em;
}