/*Componente Menu principal*/
.MenuPrincipal{
	background: #FF9712;/*Color naranja*/
	left: 0;
	min-height: : 3.75em;
	position: fixed;
	right: 0;
	text-align: center;
	top: 0;
	z-index: 91;
	
}
.MenuPrincipal-lista{
	margin: 0;
	padding: 0;
}
.MenuPrincipal-item{
	display: inline-block;
}
.MenuPrincipal-enlace{
	color: white;
	line-height: 3.75em;
	margin: 0 1.75em 0 0;
	text-decoration: none;
}
/*Componente Header*/
.Header{
	background: #12ADFF;
	border-bottom-right-radius: 1.5em;
	border-bottom-left-radius: 1.5em;
	color: white;
	margin: 3.75em auto .3em auto;
	max-width: 75em;
	position: relative;
}
.Header-imageContainer,.Header-titulo{
	display: inline-block;
	vertical-align: middle;
	width: 23%;
}
.Header-logo{
	width: 100%;
}
.Header-titulo{
	font-size: 1.8em;
	width: 60%;
}
.Header-enlace{
	background: #0075B2;
	border: 0.2em solid white;
	border-top-right-radius: 1.5em;
	border-bottom-left-radius: 1em;
	bottom: 0;
	color: white;
	margin: 0 1em 2.8em 1.5em;
	padding: 1em;
	position: absolute;
	right: 0;
	text-decoration: none;
}
/*Componente Contenedor*/
.Contenedor{
	background: white;
	/*border-top-left-radius: 1.5em;*/
	/*border-top-right-radius: 1.5em;*/
	max-width: 75em;
	margin: 0 auto;
	overflow: hidden;
}
/*Componente Baner*/
.Baner{
	/*background: yellow;*/
}
/*Componente QuienesSomos*/
.QuienesSomos{
	/*background: green;*/
	padding: 6em 0;
}
.QuienesSomos-imageLogoContainer,
.QuienesSomos-Container,
.QuienesSomos-imageMapaContainer{
	display: inline-block;
}
.QuienesSomos-imageLogoContainer{
	/*background: black;*/
	width: 25%;
}
.QuienesSomos-logo{
	width: 100%;
}
.QuienesSomos-Container{
	/*background: red;*/
	width: 40%;
}
.QuienesSomos-titulo{
	margin-top: 0;
	font-size: 2em;
	text-align: center;
}
.QuienesSomos-descripcion{

}
.QuienesSomos-imageMapaContainer{
	/*background: blue;*/
	width: 20%;
	position: relative;
	text-align: center;
	top: 2.6em;
}
/*Componente Producto*/
.Producto{
	/*background: green;*/
	padding-top: 3.75em;
}
.Producto-titulo{
	text-align: center;
	font-size: 2em;
}
.Producto-item{
	/*background: yellow;*/
	display: inline-block;
	margin: 1em;
	width: 30%;
}
.Producto-imagenProductoContainer{
	text-align: center;
}
.
.Producto-imageProducto{

}
.Producto-imageProductoDescripcion{
	text-align: center;
}